<div data-controller="stepsequencer">
    <h1>Edit step seq: </h1>

    <%= form_for [@studio, @player, @step_sequencer] do |form| %>
        <%= form.label :stepcode %><br>
        <%= form.collection_select :sample_id, Sample.order(:name), :id, :name %>
        <%= form.hidden_field :stepcode, data: { stepsequencer_target: "stepcode" } %>
        </br>
        <% @step_sequencer.stepcode.split('').each_with_index do |step, index| %>
            <button data-action="click->stepsequencer#stepButtonClick" 
                data-stepsequencer-target="step" data-index='<%= index %>' value='<%= step %>'>Klikni</button>
        <% end %>
        </br>
        <%= form.submit %>
    <% end %>
</div>