<div 
  data-controller="studio" 
  data-studio-step-sequencers='<%= raw @step_sequencers.to_json %>'
  >
  <h1>Dobro dosli u studio: <%= @studio.name %></h1>
  <p> 
    Sviraj <button id="play" data-action="click->studio#play">Play</button>
    <button id="stop" data-action="click->studio#stop">Stop</button>
  </p>
  <p> 
    Ovo svira na <input type="text" data-studio-target="bpm" value='120'>
  </p>
  <ul>
    <% @studio.players.each do |player| %>
      <li>
          <p>Name: <%= player.name %> - ID: <%= player.id %> - URl: <%= studio_player_path(@studio, player) %></p>
          <% player.step_sequencers.each do |step_sequencer| %>
            <p>Sample name: <%= step_sequencer.sample.name %> - Stepcode: <%= step_sequencer.stepcode %></p>
          <% end %>
          <%= link_to 'Edit', edit_studio_player_path(@studio, player) %>
      </li>
    <% end %>
  </ul>

  <h2><%= link_to 'Novi user', new_studio_player_path(@studio) %></h2>
  <h2>Link je: <%= new_studio_player_url(@studio) %></h2>
</div>